doctype html
html
	head 
		meta(charset='utf-8')
		//- - var course = 'jade'
		title #{course} study
		style.
			body {
				color: #f00;
				background: #f0f0f0;
			}
		script.
			var jadeVar = 'jade';
			document.getElementById('id');
	body
		h1 h1 content
		#content.content
			.box
			a(title='this is a link' href='http://www.baidu.com')
		p.pCon#pcon(class='ppp').
			1. this is 
			2. a 
			3. paragaph
			4. <strong>hahah</strong>
		- data = 'text'
		- htmlData = '<script>alert(1);</script><span>123'
		p !{htmlData}
		h1 #{data}
		h2\#{data}

		p= data
		p!= htmlData
		